/** {
   outline: 1px solid red !important;
}*/

/*color scheme #3fa7ff  #2d3c49 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
}

a,
.btn {
    transition: all 0.2s ease;
}

nav .container-fluid {
    max-width: 1200px;
    padding-right: 45px;
    padding-left: 30px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: none;
}

.navbar-brand {
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
}

.logo {
    margin: -10px 5px 0 0;
    height: 45px;
    width: 45px;
}

.brand {
    color: #2d3c49;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-top: 3px;
}

.navbar-default .navbar-nav>li>a {
    color: #2d3c49;
    font-size: 16px;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#3fa7ff;
}

#big-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../img/cover.jpg");
    background-color: black;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
}

#big-image .container-fluid {
    padding-top: 200px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.title {
    font-size: 66px;
    font-weight: bold;
    margin-bottom: 30px;
}

.introduction {
    font-size: 23px;
    margin: 20px 0;
}

.btn-big-image {
    background-color: #3fa7ff;
    text-transform: uppercase;
    display: inline-block;
    margin: 60px auto;
    font-size: 0.9em;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    text-shadow: none;
}

.btn-big-image:hover {
    transform: scale(1.05);
}

.container {
    max-width: 1200px;
    padding: 30px 30px;
}

.subtitle {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.expertise-icon {
    display: block;
    text-align: center;
    padding-top: 20px;
    /* padding-bottom: 20px; */
    height: 80px;
    width: 80px;
    /* border: 2px solid; */
    border-radius: 40px;
    /* border: 10px; */
    margin: 0 auto;
    font-size: 2em;
    /* box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2); */
    /* background-color: white; */
}

.expertise-name {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}

.expertise-description {
    text-align: center;
    font-size: 0.9em;
}

.card-code,
.card-design {
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-code {
    min-height: 600px;
}

.card-code:hover {
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
}

.card-design {
    min-height: 530px;
}

.name {
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
    font-size: 45px;
    margin-top: 5px;
}

.name-title {
    text-transform: uppercase;
    text-align: right;
}

.project-show-pic {
    width: 100%;
    margin-top: -30px;
}

.project-pic {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.project-caption {
    padding: 10px 20px;

}

.project-name {
    text-transform: capitalize;
    font-size: 30px;
    margin: 15px 0 10px 0;
}

.tech {
    color: #3fa7ff;
    font-weight: bold;
    font-size: 0.9em;
}

.project-link {
    height: 50px;
    position: absolute;
    bottom: 30px;
}

.btn-solid {
    border: 1px solid #3fa7ff;
    background-color: #3fa7ff;
    color: white;
    text-transform: uppercase;
}

.btn-solid:hover {
    border: 1px solid #2d3c49;
    background-color: #2d3c49;
    color: white;
    transform: scale(1.05);
    margin-right: 5px;
}

.btn-solid:focus {
    color: white;
}

.btn-hollow {
    border: 1px solid #3fa7ff;
    background-color: white;
    color:#3fa7ff;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-hollow:hover {
    border: 1px solid #2d3c49;
    background-color: #2d3c49;
    color: white;
    transform: scale(1.05);
    margin-left: 5px;
}

.btn-hollow:focus {
    color: #3fa7ff;
}

.btn-github {
    font-size: 1.2em;
}

#contact {
    padding-bottom: 20px;
}

.contact-card {
    width: 100%;
    max-width: 400px;
    height: 380px;
    border-radius: 20px;
    background-color: #f1f2f2;
    margin: 100px auto 0 auto;
}

.biopic {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    border: 10px solid #f1f2f2;
    border-radius: 75px;
    top: -75px;
    margin: 0 auto;
    background-color: #f1f2f2;
}

.contact-group {
    position: relative;
    top: -40px;
}

.contact-list {
    display: block;
    margin-bottom: 20px;
}

a:hover,
a:focus {
    text-decoration: none;
}

.contact-flex {
    display: -webkit-flex;
    display: flex;
    margin-left: 5px;
    align-items: center;
}

.icon-holder {
    width: 22%;
}

.contact-fa {
    font-size: 1.9em;
    text-align: center;
    background-color: #3fa7ff;
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    padding-top: 12px;
    margin-right: 10px;
    transition: all 0.2s ease;
}

.contact-fa:hover {
    background-color: #2d3c49;
}

.link-description {
    color: #2d3c49;
    width: 78%;
    transition: all 0.2s ease;
    margin-bottom: 0;
}

.link-description:hover {
    color: #2d3c49;
    text-decoration: underline;
}

.contact-form {
    text-align: center;
}

.form-title {
    color: white;
    padding: 10px;
    margin-top: 40px;
}

.contact-fill {
    display: block;
    max-width: 600px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 20px auto;
}

.btn-form {
    border: 3px solid white;
    background-color: #3fa7ff;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
}

.btn-form:hover,
.btn-form:focus {
    border: 3px solid #2d3c49;
    background-color: #2d3c49;
    color: white;
    transform: scale(1.05);
}

#footer-info {
    padding-bottom: 20px;
    font-size: 0.8em;
}

.link-group {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
}

.link {
    display: inline;
    margin: 0 20px;
}

#footer-info a {
    color: white;
}

#footer-info a:hover {
    color: #888;
}

.trademark {
    width: 100%;
    margin-bottom: 0;
    text-align: center;
}

/*media query*/
@media screen and (min-width: 992px) and (max-width: 1099px) {
    .project-link {
        bottom: 60px;
    }

    .btn-hollow {
        display: block;
        margin-top: 5px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #big-image .container-fluid {
        padding-top: 150px;
    }

    .title {
        font-size: 40px;
    }

    .introduction {
        font-size: 20px;
    }

    .btn-big-image {
        margin: 40px auto 30px auto;
        font-size: 0.8em;
    }

    #expertise .container,
    #featured-work .container {
        max-width: 500px;
    }

    .skill {
        margin-bottom: 50px;
        text-align: left;
    }

    .card-code {
        min-height: 600px;
    }

    .card-long {
        height: 660px;
    }

    .card-design {
        min-height: 0;
    }

    .project-link {
        bottom: 10px;
    }

    .link {
        display: block;
    }
}

@media screen and (max-width: 449px) {
    nav .container-fluid {
        padding: 0 20px 0 10px;
    }

    .contact-card {
        height: auto;
    }

    .contact-group {
        padding-left: 20px;
    }

    .icon-holder {
        width: 80px;
    }

    .trademark-name {
        display: block;
    }
}

@media screen and (max-width: 415px) {
    .email-vendor {
        display: block;
    }
}

@media screen and (max-width: 384px) {
    .project-link {
        bottom: 45px;
    }

    .btn-hollow {
        display: block;
        margin-top: 5px;
    }
}

@media screen and (max-width: 349px) {
    .navbar-brand {
        padding-left: 0;
    }

    .navbar-toggle {
        margin-right: 0;
    }

    #big-image .container-fluid {
        padding-top: 120px;
    }

    .title {
        font-size: 35px;
    }

    .introduction {
        font-size: 16px;
    }
}

/*color class*/
/*background scheme*/
.gray-background {
    background-color:#f1f2f2;
}

.blue-background {
    background-color:#3fa7ff;
}

.black-background {
    background-color: #222;
    color: white;
}

/*text color scheme*/
.blue {
    color:#3fa7ff;
}

.pink {
    color: #e47297;
}

.yellow {
    color: #f0c83e;
}